.drawerLeft__header { 
    background-color: #00BFA5;
    height: 115px;
    padding-left: 15px;
}
.drawerLeft__header_container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.drawerLeft__header_container > .MuiIconButton-root { 
    color: white;
    font-size: 18px;
}
.drawerLeft__header_container > p { 
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.drawerLeft__content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    background-color: #EDEDED;
}
.drawerLeft__content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.drawerLeft__content_photo {
    height: 180px;
    /* align-items: center; */
    padding: 8px 112px 50px 112px;

}
.drawerLeft__content_photo > .MuiAvatar-root {
    height: 200px;
    width: 200px;
}
.drawerLeft__content_name {
    height: 85px;
    padding: 14px 35px 15px 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
   
}
.drawerLeft__content_name > p {
    color: #57BAB1;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
}
.drawerLeft__content_name > form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drawerLeft__content_name > form > input {
    border: none;
    font-size: 17px;
    color: #666666;
    width: 100%;
}
.drawerLeft__content_name > form > input:focus {
   outline: 0 !important;
}
.drawerLeft__content_name > form > .MuiSvgIcon-root {
    color: #919191;
    font-size: 20px !important;
    cursor: pointer;
}
.drawerLeft__note{
    height: 50px;
    background-color: #EDEDED;
    padding: 0 40px 28px 30px;
}
.drawerLeft__note > span {
    font-size: 14px;
    color: #ADADAD;
}

@media screen and (max-width: 425px) {
    .drawerLeft__content_photo {
        height: 180px;
        padding: 10px 50px 50px 50px;
    }
    .drawerLeft__content_photo > .MuiAvatar-root {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
}