.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.30 !important;
    width: 30vw;
}
.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray;
}
.sidebar__header > .MuiAvatar-root {
    margin-left: 8px;
    cursor: pointer;
}
.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar__chats {
    background-color: white;
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.sidebar__chats::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

