.sidebarChat {
  display: flex;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #f6d6d6;
  /* height: 42px; */
}
.sidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat__info {
  width: 80% !important;
}
.sidebarChat__info > p,
h2,
h3 {
  margin: 0 0 0 15px;
  color: #4a4a4a;
  /* display: flex; */
  /* flex-direction: column; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebarChat__info > h2 {
  font-size: 16px;
}
.sidebarChat__info > p {
  color: #a4a4a4;
}
.sideChat__photo {
  margin: 0 0 0 15px;
  align-items: center;
  display: flex;
}
.sideChat__photo > .MuiSvgIcon-root {
  color: #a4a4a4;
  font-size: 16px;
}
.sideChat__photo > span {
  margin-left: 5px;
  color: #a4a4a4;
}
.sidebarChat__link {
  text-decoration: none;
  color: black;
}
.sidebarChat > div > h3 {
  text-align: center;
}
