.search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.search__container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 20px;
}
.search__container > input {
    border: none;
    margin-left: 10px;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.search__container > input:focus{
    outline: none;
}
.search__container > .MuiSvgIcon-root {
    color: grey;
    padding: 10px;
    cursor: pointer;
}