h3, p {
    margin: 0;
}
.chat {
    flex: 0.70;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}
.chat__header {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.chat__header > .MuiAvatar-root {
    margin-left: 8px;
}
.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}
.chat__headerInfo > h3 {
    /* margin-bottom: 3px; */
    font-weight: 500;
}
.chat__headerInfo > p {
    color: #4a4a4a;
}
.chat__attachFile {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.chat__attachFile > .MuiFab-root {
  margin: 7px 0 7px 0;
}
.chat__icon {
    height: 24px;
}
.chat__icon > label > .MuiSvgIcon-root {
    cursor: pointer;
}
.chat__icon > input {
    display: none;
}
.chat__message_reminder {
    background-color: #FDF4C4;
    font-size: 16px;
    padding: 5px 10px 5px 10px ;
    border-radius: 10px;
    width: fit-content ;
    margin-bottom: 70px !important;
    /* align-content: center; */
    margin: auto;
}
.chat__message_reminder > .MuiSvgIcon-root {
    color: #4a4a4a;
    font-size: small;
}
.chat__message {
    position: relative;
    font-size: 16px;
    padding: 5px 10px 5px 10px ;
    border-radius: 10px;
    width: fit-content ;
    background-color: #ffffff;
    margin-bottom: 30px;
    color: #4a4a4a;
}
.chat__receiver{ 
    background-color: #DCF8C6;
    margin-left: auto;
    color: #4a4a4a;
}
.chat__name {
    position: absolute;
    top: -15px;
    font-size: xx-small;
    font-weight: 800;
}
.chat__timestamp {
    /* position: absolute; */
    margin-left: 10px;
    font-size: xx-small;
    margin-top: 22px;
    color: gray;
}
.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
} 
.chat__body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 60px 90px 60px 90px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.chat__body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat__footer > form {
    flex: 1;
    display: flex;
}
.chat__footer > form > input { 
    flex: 1;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.chat__footer > form > input:focus{
    outline: none;
}
.chat__footer > form > button {
    display: none;
}
.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.chat__attachFile_drawerHeader {
    background-color: #00BFA5;
}
.chat__attachFile_drawerHeader_container {
    display: flex;
    align-items: center;
}
.chat__attachFile_drawerHeader_container > p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.chat__attachFile_drawerHeader_container > .MuiIconButton-root {
    color: white !important;
    margin: 0 10px 0 10px;
}
.chat__attachFile_drawerContent {
    background-color: #E6E6E6;
    height: 100%;
}
.chat__attachFile_drawerContent_photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat__attachFile_drawerContent_photo > img {
    height: 244px;
}
